<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {%load static %}
    <link rel="stylesheet" href="../../static/post.css">
</head>
<body>
<center>
    <div class="post" style=" background-color: #5897fb"></div>
    <br>
    <div class="post" style="background-color: #f5dd5d"></div>
    <br>
    <div style="height: 500px; width: 700px; background-color: #570808"></div>
    <br>
    <div style="height: 500px; width: 700px; background-color: #993333"></div>
    <br>
    <div style="height: 500px; width: 700px; background-color: #66f2d5"></div>
    <br>
    <div style="height: 500px; width: 700px; background-color: antiquewhite"></div>
    <br>
    <div style="height: 500px; width: 700px; background-color: #4ac1f7"></div>
    <br>
</center>
</body>
</html>